<div class="demo-button-container d-flex justify-content-around align-items-center" style="margin:2rem 0;">
  <mat-form-field>
    <mat-label>Filter user...</mat-label>
    <input matInput (keyup)="filterUsers($event)" #input>
  </mat-form-field>
  <button mat-flat-button (click)="addUserDialog()" color="accent"> Add Users</button>
  <button mat-flat-button (click)="deleteUsers(dataSource.data)" color="primary"> Delate Users</button>
</div>
<mat-card>
  <table class="users-table" mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef style="padding:5px ;">
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" style="padding:5px ;">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element"> {{element.id + 1}} </td>
    </ng-container>
    <ng-container matColumnDef="registrationDate">
      <th mat-header-cell *matHeaderCellDef> registrationDate </th>
      <td mat-cell *matCellDef="let element"> {{element.registrationDate | date : 'longDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> status </th>
      <td mat-cell *matCellDef="let element">
        <span>
          <mat-icon *ngIf="element.status" color="accent">check_circle</mat-icon>
          <mat-icon *ngIf="!element.status" color="primary">do_disturb_on</mat-icon>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="accessLevel">
      <th mat-header-cell *matHeaderCellDef> accessLevel </th>
      <td mat-cell *matCellDef="let element"> {{element.accessLevel}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="manageUsers">
      <th mat-header-cell *matHeaderCellDef> manageUsers </th>
      <td mat-cell *matCellDef="let element" style="padding:0 ;">
        <button mat-icon-button color="accent" (click)="updateUser(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteUser(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></mat-row>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</mat-card>