<h1 mat-dialog-title>Add Users</h1>
<div mat-dialog-content [formGroup]="formGroup">
  <div class="row my-2">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>registrationDate</mat-label>
      <input matInput [matDatepicker]="registrationDate" formControlName="registrationDate">
      <mat-datepicker-toggle matIconSuffix [for]="registrationDate"></mat-datepicker-toggle>
      <mat-datepicker #registrationDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row my-2" style="height: 50px;">
    <label>Status: </label>
    <mat-radio-group formControlName="status">
      <mat-radio-button [value]="true">Active</mat-radio-button>
      <mat-radio-button [value]="false">DeActive</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="row my-2">
    <mat-form-field appearance="outline" color="accent">
      <mat-select required formControlName="accessLevel">
        <mat-option *ngFor="let item of accessLevel" [value]="item">{{item}}</mat-option>
      </mat-select>
      <mat-label>AccessLevel</mat-label>
    </mat-form-field>
  </div>
  <div class="row my-2">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Email" required formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </div>
  <section>
    <button mat-stroked-button color="accent" (click)="saveUser()">Add User</button>
    <button mat-stroked-button color="primary" (click)="hideDialog()">Cancel</button>
  </section>
</div>